---
layout: default
title: UD CS + Social Good
header: Computer Science +<br>Social Good at UD
subheader: Building a better world through technology

---

<section class="content-section">
  {% assign img_loc="/assets/ice_cream_bash.jpg" %}
  {% assign img_alt="Ice Cream Social" %}
  {% assign img_heading="Ice Cream Bash 2019" %}
  {% assign img_caption="Professors Dr. Debra Yarrington and Dr. Keith Decker answering a student Q&A panel at the first annual Computer Science Ice Cream Social, hosted by CS + Social Good and ACM" %}
  {% include imagedisplay.html%}
</section>
<section class="content-section">
  {% assign img_loc="/assets/outreach_night.jpg" %}
  {% assign img_alt="CS Outreach Night" %}
  {% assign img_heading="CS Outreach Night" %}
  {% assign img_caption="Members Sophia Freaney and Andy Riegner representing UD at CS Outreach night at Gauger-Cobbs Middle School where local elementary and middle schoolers from multiple different schools attended to learn more about computer science" %}
  {% include imagedisplay.html%}
</section>
<section class="content-section">
  {% assign img_loc="/assets/henhacks_2019.jpg" %}
  {% assign img_alt="HenHacks 2019" %}
  {% assign img_heading="HenHacks 2019" %}
  {% assign img_caption="Members Maria van Venrooy, Emily Taylor, Connor Onweller, and Chris Outhwaite participating at HenHacks 2019, a hackathon co-hosted by CS + Social Good and ACM" %}
  {% include imagedisplay.html%}
</section>
