---
layout: default
title: UD CS+SG
header: Computer Science +<br>Social Good
subheader: Building a better world through technology

---

<section class="first">
  {% assign img_loc="/assets/ice_cream.jpg" %}
  {% assign img_alt="Icee Cream Social" %}
  {% assign img_heading="CS Social Event" %}
  {% assign img_caption="Come join us on Wednesday September 4th in the Perkins Ewing Room for the first annual Computer Science Ice Cream Social!" %}
  {% include imagedisplay.html%}
</section>
<section class="second">
  {% assign img_loc="/assets/IMG_2457.jpg" %}
  {% assign img_alt="CS Outreach Night" %}
  {% assign img_heading="CS Outreach Night" %}
  {% assign img_caption="Members Sophia Freaney and Andy Riegner representing UD at CS Outreach night at Gauger-Cobbs Middle School where local elementary and middle schoolers from multiple different schools attended to learn more about computer science" %}
  {% include imagedisplay.html%}
</section>
