---
layout: default
title: UD CS+SG
header: Computer Science +<br>Social Good
subheader: Building a better world through technology

---

<section class="content-section">
  {% assign img_loc="/assets/first_meeting.jpg" %}
  {% assign img_alt="CS+SG Meeting" %}
  {% assign img_heading="First CS + Social Good Meeting" %}
  {% assign img_caption="Our first meeting for the fall semester will be on Thursday September 5th at 7pm in the Evans iSuite Lounge!" %}
  {% include imagedisplay.html%}
</section>
<section class="content-section">
  {% assign img_loc="/assets/ice_cream.jpg" %}
  {% assign img_alt="Icee Cream Social" %}
  {% assign img_heading="CS Social Event" %}
  {% assign img_caption="Come join us on Wednesday September 4th in the Perkins Ewing Room for the first annual Computer Science Ice Cream Social!" %}
  {% include imagedisplay.html%}
</section>
<section class="content-section">
  {% assign img_loc="/assets/outreach_night.jpg" %}
  {% assign img_alt="CS Outreach Night" %}
  {% assign img_heading="CS Outreach Night" %}
  {% assign img_caption="Members Sophia Freaney and Andy Riegner representing UD at CS Outreach night at Gauger-Cobbs Middle School where local elementary and middle schoolers from multiple different schools attended to learn more about computer science" %}
  {% include imagedisplay.html%}
</section>
<section class="content-section">
  {% assign img_loc="/assets/henhacks_2019.jpg" %}
  {% assign img_alt="HenHacks 2019" %}
  {% assign img_heading="HenHacks 2019" %}
  {% assign img_caption="Members Maria van Venrooy, Emily Taylor, Connor Onweller, and Chris Outhwaite participating at HenHacks 2019, a hackaton co-hosted by CS + Social Good and ACM" %}
  {% include imagedisplay.html%}
</section>
