---

layout: default
title: Team
header: Team

---

<section class="content-section">
  {% assign img_loc="/assets/sophia.png" %}
  {% assign img_alt="Sophia Freaney" %}
  {% assign img_width="100%" %}
  {% assign img_heading="President" %}
  {% assign img_caption="Sophia Freaney" %}
  {% include imagedisplay.html%}
</section>
<section class="content-section">
  {% assign img_loc="/assets/connor.png" %}
  {% assign img_alt="Connor Onweller" %}
  {% assign img_width="100%" %}
  {% assign img_heading="Vice President" %}
  {% assign img_caption="Connor Onweller" %}
  {% include imagedisplay.html%}
</section>
<section class="content-section">
  {% assign img_loc="/assets/chris.png" %}
  {% assign img_alt="Chris Outhwaite" %}
  {% assign img_width="100%" %}
  {% assign img_heading="Education Chair" %}
  {% assign img_caption="Chris Outhwaite" %}
  {% include imagedisplay.html%}
</section>
<section class="content-section">
  {% assign img_loc="/assets/maria.png" %}
  {% assign img_alt="Maria van Venrooy" %}
  {% assign img_width="100%" %}
  {% assign img_heading="Treasurer" %}
  {% assign img_caption="Maria van Venrooy" %}
  {% include imagedisplay.html%}
</section>
<section class="content-section">
  {% assign img_loc="/assets/diane.png" %}
  {% assign img_alt="Diane Vinson" %}
  {% assign img_width="100%" %}
  {% assign img_heading="Secretary" %}
  {% assign img_caption="Diane Vinson" %}
  {% include imagedisplay.html%}
</section>
