---

layout: default
title: Upcoming Events
header: Upcoming Events

---
<section class="content-section">
  {% assign img_loc="/assets/evans.jpg" %}
  {% assign img_alt="Evans Hall" %}
  {% assign img_width="100%" %}
  {% assign img_heading="2020 Eweek Game Night" %}
  {% assign img_caption="Come join us on Wednesday, February 19 from 6:00-8:30pm in the Evans Hall iSuite for a game night using modern board games and show off your problem solving and logic skills!  Enjoy snacks and drinks!  No registration necessary.  All are welcome!" %}
  {% include imagedisplay.html%}
</section>
<section class="content-section">
  {% assign img_loc="/assets/meeting.jpg" %}
  {% assign img_alt="First General Body Meetings" %}
  {% assign img_width="100%" %}
  {% assign img_heading="General Body Meetings" %}
  {% assign img_caption="Our first general body meeting will be on Tuesday, February 25. Weekly meetings are held every Tuesday from 7:00-8:00pm in 206 Alison West" %}
  {% include imagedisplay.html%}
</section>
