---

layout: default
title: Upcoming Events
header: Upcoming Events

---
<section class="content-section">
  {% assign img_loc="/assets/meeting.jpg" %}
  {% assign img_alt="Next general Body Meetings" %}
  {% assign img_width="100%" %}
  {% assign img_heading="General Body Meetings" %}
  {% assign img_caption="Our next general body meetings will be at 7:00pm on Tuesday, March 10th in the Evans iSuite" %}
  {% include imagedisplay.html%}
</section>
<section class="content-section">
  {% assign img_loc="/assets/tpp.png" %}
  {% assign img_alt="Tea++" %}
  {% assign img_width="100%" %}
  {% assign img_heading="Tea++: Open CS Office Hours" %}
  {% assign img_caption="Join us at the Evans iSuites between 6:00pm and 8:00pm everyother tuesday for help on CS homework or to help us work on the housing project" %}
  {% include imagedisplay.html%}
</section>
