<!-- <1!-- Footer --1> -->
<!-- <footer class="page-footer font-small blue pt-4"> -->

<!--   <1!-- Footer Links --1> -->
<!--   <div class="container-fluid text-center text-md-left"> -->

<!--     <1!-- Grid row --1> -->
<!--     <div class="row"> -->

<!--       <1!-- Grid column --1> -->
<!--       <div class="col-md-6 mt-md-0 mt-3"> -->

<!--         <1!-- Content --1> -->
<!--         <h5 class="text-uppercase">Footer Content</h5> -->
<!--         <p>Here you can use rows and columns to organize your footer content.</p> -->

<!--       </div> -->
<!--       <1!-- Grid column --1> -->

<!--       <hr class="clearfix w-100 d-md-none pb-3"> -->

<!--       <1!-- Grid column --1> -->
<!--       <div class="col-md-3 mb-md-0 mb-3"> -->

<!--         <1!-- Links --1> -->
<!--         <h5 class="text-uppercase">Links</h5> -->

<!--         <ul class="list-unstyled"> -->
<!--           <li> -->
<!--             <a href="#!">Link 1</a> -->
<!--           </li> -->
<!--           <li> -->
<!--             <a href="#!">Link 2</a> -->
<!--           </li> -->
<!--           <li> -->
<!--             <a href="#!">Link 3</a> -->
<!--           </li> -->
<!--           <li> -->
<!--             <a href="#!">Link 4</a> -->
<!--           </li> -->
<!--         </ul> -->

<!--       </div> -->
<!--       <1!-- Grid column --1> -->

<!--       <1!-- Grid column --1> -->
<!--       <div class="col-md-3 mb-md-0 mb-3"> -->

<!--         <1!-- Links --1> -->
<!--         <h5 class="text-uppercase">Links</h5> -->

<!--         <ul class="list-unstyled"> -->
<!--           <li> -->
<!--             <a href="#!">Link 1</a> -->
<!--           </li> -->
<!--           <li> -->
<!--             <a href="#!">Link 2</a> -->
<!--           </li> -->
<!--           <li> -->
<!--             <a href="#!">Link 3</a> -->
<!--           </li> -->
<!--           <li> -->
<!--             <a href="#!">Link 4</a> -->
<!--           </li> -->
<!--         </ul> -->

<!--       </div> -->
<!--       <1!-- Grid column --1> -->

<!--     </div> -->
<!--     <1!-- Grid row --1> -->

<!--   </div> -->
<!--   <1!-- Footer Links --1> -->

<!--   <1!-- Copyright --1> -->
<!--   <div class="footer-copyright text-center py-3">© 2018 Copyright: -->
<!--     <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a> -->
<!--   </div> -->
<!--   <1!-- Copyright --1> -->

<!-- </footer> -->
<!-- <1!-- Footer --1> -->
