<!-- Footer -->
<footer class="page-footer font-small">

  <a href={{ "/" | relative_url }}>
    <img id="cssg-logo-footer" src="{{ "/assets/cssg_logo.svg" | relative_url }}" alt="CS + Social Good">
  </a>
  <div class="footer-social text-center">
    <span title="Email"> 
      <a href="mailto:udcs4good@gmail.com" class="fa fa-envelope"></a>
    </span>
    <!-- <span title="Linkedin"> --> 
    <!--   <a href="#" class="fa fa-linkedin"></a> -->
    <!-- </span> -->
    <span title="Student Central"> 
      <a href="https://studentcentral.udel.edu/organization/cssocialgood" class="fa fa-university"></a>
    </span>
    <span title="GitHub"> 
      <a href="https://github.com/ud-cs-social-good" class="fa fa-github"></a>
    </span>
  </div>
  <div class="footer-copyright text-center">© 2019 Copyright:
      <a href={{ "/" | relative_url }}> University of Delaware CS + Social Good </a>
  </div>

</footer>
<!-- Footer -->
