// @import 'bootstrap/bootstrap';

// $purple: $purple;
$purple: #741ae2;
$navcolor: $purple;
$navbackground: white;
$navborder: 1px solid #dddddd;
// $navborderbackground: 1px solid white;
$dark-purple: #433273;
$light-purple: #a69cec;
$pink: #ff5dd6;
$highlightcolor: $purple;

h1 {
    font: bold 40px/1.2 'Source Sans Pro', Helvetica, sans-serif;
}
h2 {
    font: bold 32px/1.2 'Source Sans Pro', Helvetica, sans-serif;
}
body {
    background-color: $purple;
    background-image: url("/assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 576px) {
    body {
        background-image:url("/assets/mobile_background.jpg");
        background-color: $purple;
    }
}


.navbar-custom {
    z-index: 9999;
    position:-webkit-sticky;
    position: sticky;
    top: 0px;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    // background-color: $purple;
    background-color: $navbackground;
    padding-left: 15px;
    padding-right: 15px;
    // box-shadow: 0px 3px 3px rgba(0,0,0,0.08);
    // border-top: $navborderbackground;
    border-bottom: $navborder;
    // box-shadow-bottom: 0px 0px 9px rgba(0,0,0,0.25);
}
.navbar-custom .navbar-nav > li > a {
  	// color:white;
    color: $navcolor;
    // padding: 20px;
}

.navbar-custom .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #929ccd;
    // color: #a69cec;
    // color: $purple;
}

.navbar-custom .navbar-nav > .active > a {
    // color: #f05a82;
    // color: black;
    // color: #e700ff;
    // color: #a73c87;
    // color: #ff3c5a;
    // color: #ff1e5a;
    // border-bottom: 2px solid #e700ff;
    /* text-decoration: underline; */
    /* text-decoration-color: #e700ff; */
}
// .tales {
//   width: 75%;
// }
// .carousel-inner{
//   margin: auto;
//   width:75%;
//   // padding: 100px;
//   max-height: 500px !important;
//   border: 10px solid #ffffff;
// }

// .carousel{
//   margin: auto;
//   width:75%;
//   // padding: 100px;
//   max-height: 500px !important;
// }

.hamburger {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    // border-top: 0.2em solid white;
    border-top: 0.2em solid $navcolor;
    // border-bottom: 0.2em solid white;
    border-bottom: 0.2em solid $navcolor;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.1em;
    left: 0px;
    width: 100%;
    // border-top: 0.2em solid white;
    border-top: 0.2em solid $navcolor;
}

.header-container {
    padding: 40px;
    // padding-top: 120px;
    font: normal 25px/1.2 'Source Sans Pro', Helvetica, sans-serif;
    // background-color: white;
    // background-image: url("/assets/background.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-attachment: fixed;
    color: $highlightcolor;
    color: white;
    display: block;
    // border-bottom: 1px solid #dddddd;
}
.header-container h1 {
    color: $purple;
    color: white;
}

.page-footer {
    // border-bottom: 1px solid #dddddd;
    // background-color: white;
    // background-color:$purple;
    // background-color:$highlightcolor;
    // background-image: url("/assets/background.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-attachment: fixed;
    padding:20px;
    font: 15px/1.2 'Source Sans Pro', Helvetica, sans-serif;
    color: white;
}
.footer-copyright a {
    color: white;
}
.footer-copyright {
    margin: 10px;
    color: white;
    opacity: 0.7;
}
.footer-social {
    letter-spacing: 10px;
    font-size: 16px;
    margin: 10px;
    opacity: 0.7;
}

.footer-social  a {
    color: white;
}
.footer-social  a:any-link {
    text-decoration:none;
}

.my-sidebar {
    flex-wrap: wrap;
    flex: 0 0 463px;
}
.content-section {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family:'Source Sans Pro', Helvetica, sans-serif;
    // background-color: #f5f5f5;
}

@media (min-width: 576px) {
    .first {
        padding-top: 20px;
        padding-bottom: 20px;
        font-family:'Source Sans Pro', Helvetica, sans-serif;
        // background-color: #f5f5f5;
        // border-bottom: 1px solid #dddddd;
    }
}
@media (min-width: 576px) {
    .second {
        padding-top: 20px;
        padding-bottom: 20px;
        font-family:'Source Sans Pro', Helvetica, sans-serif;
        // background-color: #eeeeee;
        // border-bottom: 1px solid #dddddd;
    }
}
@media (min-width: 576px) {
    .content-container {
        background-color: #ffffff;
       width: 75%;
        margin: 0 auto;
        // margin-top: 20px;
        // margin-bottom: 20px;
        // border-radius: 4px;
        border: 1px solid #dddddd;
        // box-shadow: 0px 0px 9px rgba(0,0,0,0.25);
    }
}
.content-container {
    background-color: #ffffff;
    margin: 0 auto;
    // margin-top: 20px;
    // margin-bottom: 20px;
    padding: 20px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.content-container h2 {
    color: $highlightcolor;
}
hr {
    margin-top: 30px;
    margin-bottom: 30px
}
.my-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.my-col {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 900px) {
    .my-col{
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
    }
}
.caption-text {
    color: $highlightcolor;

}
.col-inside {
    padding: 10px;
}

.connect-button {
    position:relative; 
    background-color: $purple;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 4px;
    cursor: pointer;
    // border-radius: 60px;
    box-shadow: 4px 4px $dark-purple;
    // box-shadow: 10px 10px;
    transform:translate(-4px, -4px);
}
.connect-button:hover {
    position:relative; 
    color: $light-purple;
    text-decoration: none;
    box-shadow: 0px 0px;
    transform:translate(0px, 0px);
}
.connect-button:hover:after {
    content:'';
    position:absolute;
    top:-6px; bottom:-5px; 
    left:-6px; right:-5px; 
}
.connect-button:after {
    content:'';
    position:absolute;
    top:-5px; bottom:-6px; 
    left:-5px; right:-6px; 
}

@media (min-width: 990px) {
    .get-involved-button {
        background-color: $highlightcolor;
        border: none;
        padding: 0px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-left: 4px;
        // margin-right: 4px;
        cursor: pointer;
        border-radius: 60px;
    }
    .get-involved-button  > li > a {
        // color:$purple;
        color: white;
        // color: $purple;
    }

    .get-involved-button > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: $light-purple;
    }
}
@media (max-width: 990px) {
    .get-involved-button  > li > a {
        // color:white;
        color: $purple;
    }
    .get-involved-button > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    // color: #a69cec;
    color: $dark-purple;
    }
}

@media (max-width: 990px) {
    .navbar-collapse {
        margin-top: 25px;
        padding-top: 20px;
        // background-color:#2f3273;
        background-color:#f3f3f3;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        text-align:center;
    }
}
#cssg-logo-footer {
    opacity: 0.7;
    width: 10%;
    height: 10%;
    display:block;
    margin:auto;
    padding-bottom: 20px;
}
.heading {
    font-size: 13px;
    background-color: $navbackground;
    // color: $light-purple;
    color: $purple;
    // background-color: $purple;
    // background-color: $pink;
    // color: white;
    // padding: 10px;
    display:block;
    width: 100%;
    // height:  30px;
    border-bottom: $navborder;
    // padding:7px;
    padding:15px;
    // padding-right:24px;
    // padding-left:24px;
}
#cssg-logo-nav {
    height: 40px;
    // padding-left: 4px;
}
