@import 'base.scss';

.Card {
  border-radius: 0.25rem;
  margin-top:1rem;
  margin-bottom:1rem;
  background-color: $bg;
  width: 60rem;
  display:flex;
  min-height: 25rem;
  align-items: center;
  justify-content: center;

  h2 {
    margin-top:0;
    padding-top:0;
    color: $primary;
  }

  ul {
    padding-left:1rem;
  }
  
  .Dense {
    box-sizing: border-box;
    padding: 1.5rem;
    height: 100%;
    width: 100%;
    align-self:flex-start;
  }

  .Centered {
    text-align: center;
    box-sizing: border-box;
    padding: 1.5rem;
  }

  .Left {
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1.5rem;
  }

  .Right {
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1.5rem;
  }
}


.Card img {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .Card {
    flex-flow:column;
    width:45rem;
    .Left {
      width: 100%;
    }
    .Right {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .Split {
    flex-flow: column;
  }
  .Card {
    border-radius: 0;
    width:100%;
    .Left {
      width: 100%;
    }
    .Right {
      width: 100%;
    }
  }
}
