@import 'constants.scss';

.NavBar {
  background-color: $bg;
  position:sticky;
  width:100%;
  top:0;
  z-index:1;
  border-bottom: 1px solid rgba(0,0,0,0.2);

  .NavContents {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
  }
  .NavLink {
    cursor:pointer;
    height: $navheight;
    display:flex;
    align-items:center;
    padding-left:0.5rem;
    padding-right:0.5rem;
    font-weight:600;
    cursor:pointer;
    text-decoration:none;
    color: $primary;
  }

  a {
    text-decoration:none;
  }

  .NavLink:hover {
    background-color: $hover;
  }

  .NavLink:active {
    background-color: $active;
  }

  .NavImage {
    height: 2.5rem;
  }

  .NavList {
    margin:0;
    padding:0;
    list-style-type: none;
    display:flex;
    align-items:flex-end;
  }

  .Column {
    flex-direction:column;
  }

  .Row {
    flex-direction:row;
  }

  .NavTogglerContainer {
    display:flex;
    flex-direction:column;
    align-items:flex-end;
  }

  .NavTogglerButton {
    display:block;
  }
}
