@import './base.scss';

html, body {
  margin: 0;
  font-family: 'Source Sans Pro';
    background-image: url("./assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

button {
  margin: 0;
  padding: 0;
  border: inherit;
  background-color: inherit;
  font-size:inherit;
  font-family: inherit;
}
